
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to BudgetGuru, <%= @user.first_name %></h1>
    <p>
      Now you are well on your way to meeting your financial goals.<br>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
