<% if object.errors.any? %>

    <div>
      <b>Whoops!</b> There were some problems with your input.
      <ul>
      <br>
      <% object.errors.full_messages.each do |msg| %>
        <li> <%= msg %></li>
      <% end %>
      </ul>
    </div>

<% end %>
